<div class="header">
  <%= title 'Licencias' %>
</div>

  <% licenses.each do |license| %>
    <%= div_for license do %>
      <%= license_icon_tag license %>
      <%= link_to license.name, [:edit, license] %>
    <% end %>
  <% end %>
