<div class="header">
  <%= title 'Bookcamping está congelado' %>
</div>

<div class="row">
  <div class="login span6">
  <p>Estamos en otras cosas</p>
  </div>
</div>

<%= content_for :left do %>
  <div class="black">
    <p>Hemos decidido cerrar Bookcamping.</p>
  </div>
  <div class="curtain"></div>
<% end %>

