<div class="filter user alert alert-info" style="display: none">
  Estás viendo las entradas de <strong class="user_name">NOMBRE</strong>.
  <a href="#" class="show_all">Pulsa aquí para ver todas</a>.
</div>
<div class="filter tag alert alert-info" style="display: none">
  Estás viendo las entradas etiquetadas con <strong class="tag_name">NOMBRE</strong>.
  <a href="#" class="show_all">Pulsa aquí para ver todas</a>.
</div>


