<% title user.name %>
<%= content_tag_for :article, user do %>
  <div class="header">
  <h1><%= user.name %></h1>
  En bookcamping desde hace <%= time_ago_in_words user.created_at %>
</div>
<% end %>
