<div class="header">
  <%= title "Gestionar listas" %>
  <h3><%= link_to reference.title, reference %></h3>
</div>

<table class="shelves small">
<% reference.shelf_items.each do |item| %>
<% end %>
</table>
