<div class="span9 shelves ">
  <% library.ordered_shelves.each do |shelf| %>
    <div class="library_shelf">
      <%= render 'shelves/item', shelf: shelf %>
      <div class="summary">
        <%= markdown truncate(shelf.description, length: 400) %>
      </div>
      <div class="info">
        Iniciada el <%= l shelf.created_at, format: :date_only %> por <%= link_to shelf.user.name, shelf.user %>
      </div>
    </div>
  <% end %>
  </div>
</div>
