<%= div_for library do %>
  <h4><%= link_to library.name, library %></h4>
  <% shelves = library.shelves.order('updated_at DESC').limit(8) %>
  <div class="shelves small">
    <%= render partial: 'shelves/item', collection: shelves,
        as: :shelf %>
  </div>
  <% more = library.shelves.count - 8 %>
  <%= link_to "Y #{more} más...", library if more > 0 %>
  <br>
<% end %>
