<div class="header">
  <%= title "Editar #{library.name}" %>
  <%= link_to 'Cancelar', library %>
</div>
<%= render 'form' %>

  <div class="alert alert-error">
    Puedes borrar esta acampada, pero esperamos que tengas un buen motivo.
    <div class="actions">
      <%= link_to 'Borrar acampada', library, method: :delete,
        data: { confirm: '¿Quieres borrar esta acampada!?', action: 'delete-library' } %>
    </div>
  </div>


