<div class="row">
  <div class="span12 main">
    <div class="">
    <%= title t('libraries.title') %>
    <p class="info">
    Estas son todas las acampadas en #bookcamping, con sus estanterías.
    ¿Quieres abrir una acampada? Escríbenos <%= link_to 'hola@bookcamping.cc', 'mailto:hola@bookcamping.cc' %>
    </p>
  </div>
</div>
</div>

<div class="libraries index">
  <% libraries.each_with_index do |library, index| %>
  <% if index % 4 == 0 %>
  <div class="row">
    <% end %>
  <div class="span3">
    <%= render library %>
  </div>
  <% if index % 4 == 3 %>
  </div>
    <% end %>
  <% end %>
</div>
