<div class="link">
  <%= link_to link.url, target: '_blank' do %>
    <%= link.type_description %>
    <%= content_tag :span, "(#{link.mime_type})",
      class: 'mime_type' if link.nice_mime_type? %>
    <%= content_tag :span, link.domain,
      class: 'host' if link.host? %>
  <% end %>
</div>
