<td>
  <p>
    ¡Hola <%= @user.name %>!
    Han añadido a la estantería <%= link_to @shelf.name, [@shelf.library, @shelf] %>
  </p>
  <h3><%= link_to @item.reference.title, @item.reference %></h3>
</td>

