<div class="versions">
<%= render activity.all %>
</div>
<% unless activity.page == activity.total_pages %>
<div id="versions_more">
  <%= link_to t('app.more'), url_for(p: activity.page + 1, format: :js), remote: true %>
</div>
<% end %>
