<% title "Actividad reciente" %>
<div class="header">
  <h4>Actividad reciente</h4>
  <h1><%= activity.model_name %></h1>
</div>
<%= render 'index' %>

<%= content_for :right do %>
  <% if parent.respond_to?(:subscriptions) %>
    <%= render 'subscriptions/subscriptions', shelf: parent %>
  <% end %>
<% end %>
