<div class="download_fields">
  <h3>Nueva descarga</h3>
  <%= form.input :name %>
  <div class="upload">
    <fieldset>
      <label>Fichero para descargar</label>
      <%= form.input :file, label: false %>
      <span class="hint">O escribe la url al fichero de descarga...</span>
      <%= form.text_field :remote_file_url %>
    </fieldset>
  </div>
</div>
