<div class="row">
  <div class="span12 main">
    <%= title "Editar '#{reference.title}'" %>
    <%= link_to icon('arrow-left', 'Cancelar'), reference %>
    <br>
    <br>
  </div>
  <%= render 'form' %>
  <div class="span12">
    <% if can? :destroy, reference %>
      <div class="alert alert-error">
        Puedes borrar esta ficha, pero esperamos que tengas un buen motivo.
        <div class="actions">
          <%= link_to 'Borrar ficha', reference, method: :delete,
            data: { confirm: '¿Segura?', action: 'delete-reference' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

