$headingsColor: #333;
$serifFontFamily: 'Kreon', Georgia, "Times New Roman", Times, serif;
$baseFontFamily: $serifFontFamily;
$baseFontSize: 15px;
$baseLineHeight: 20px;
@import 'bootstrap';
@import "bootstrap-responsive";
@import 'font-awesome';

@font-face {
  font-family: "Ventura Edding";
  src:  url("/fonts/Ventura_Edding_Bold.otf") format("opentype")
}

@import 'html';
@import 'layout';
@import 'header';
@import 'footer';
@import 'sidebars';
@import 'buttons';
@import 'forms';
@import 'shelves';
@import 'references';
@import 'misc';


img.responsive { width: 100%; }
