$headingsColor: #333;
$serifFontFamily: 'Kreon', Georgia, "Times New Roman", Times, serif;
$baseFontFamily: $serifFontFamily;
$baseFontSize: 15px;
$baseLineHeight: 20px;
@import 'bootstrap';
@import "bootstrap-responsive";

font-face {
  font-family: "Your typeface";
  src: url("type/filename.eot");
  src: local("☺"),
    url("type/filename.woff") format("woff"),
    url("type/filename.otf") format("opentype"),
    url("type/filename.svg#filename") format("svg");
}

@import 'html';
@import 'layout';
@import 'header';
@import 'footer';
@import 'sidebars';
@import 'buttons';
@import 'forms';
@import 'shelves';
@import 'references';
@import 'misc';


img.responsive { width: 100%; }
