@mixin action {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
    background-color: white;
    box-shadow: 2px 2px 0 black;
    padding: 0.3em 1em 0.2em 1em;
    display: inline-block;
    border: 2px solid black;
    margin: 7px 5px 5px 0;
}

div.actions {
  width: 100%; overflow: hidden;

  a {
    @include action;
  }
}

form input[type=submit], form button {
  @include action;
}

a.action { @include action; }

td.actions {
  background-color: white;
  a.action {
    @include action;
    margin: 0;
    font-size: 80%;
  }
}

div.action_list {
  margin: 10px 0 30px 0;
  border-bottom: 1px solid black;
  h5 { margin-top: 20px; text-align: center; }
  a, p {
    display: block;
    padding: 2px;
    margin: 0;
    text-align: center;
    border-top: 1px solid black;
  }
}

div.action_list.downloads {
  margin-bottom: 5px;
  a, p { }
}

div.header div.actions {
  width: auto;
  float: right;
  margin: 0;

  a {
  }
}

.arrow-button {
  margin: 3px 0;
  width: 100%; overflow: hidden;

  .img {
    width: 27px;
    height: 62px;
    background: image-url('layout/sidebuttons.png') no-repeat;
  }

  .content {
    margin: 0 27px;
    border-top: 9px solid black;
    border-bottom: 3px solid black;
    height: 50px;

    a {
      display: block;
      text-align: center;
      padding-top: 16px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.action.warning { background-color: #c00; }
.action.go { background-color: yellow; }
.action.white { background-color: white; }

.hand {
  margin: -2px auto 0 auto;
  width: 45px;
  height: 86px;
  background: image-url('layout/hands.png') no-repeat;
}

.right.arrow-button {
  .right {
    background-position: -139px;
  }
}

.left.arrow-button {
  .left {
    background-position: -170px;
  }
  .right {
    background-position: -307px;
  }
}
