$black: #333;

form {
  input[type=text], input[type=password],
  input[type=url],
  input[type=email], textarea {
    border: 1px solid $black;
    border-radius: 2px;
    width: 90%;
  }
  input[type=submit] {
    background-color: $black;
    color: white;
    border: 0;
    padding: 3px 5px;
  }
  textarea { 
    height: 10em;
  }

  span.hint {
    display: block;
    margin: -5px 0 5px 0;
    color: #aaa;
  }
}

