$black: #333;

form {
  input[type=text], input[type=password],
  input[type=url],
  input[type=email], textarea {
    border: 1px solid $black;
    border-radius: 2px;
    width: 90%;
  }
  input[type=submit], button {
    background-color: $black;
    color: white;
    border: 0;
    padding: 3px 5px;
  }
  button { margin-top: -8px; }
  textarea { 
    height: 10em;
  }

  span.hint, span.error {
    display: block;
    margin: -5px 0 5px 0;
    color: #aaa;
  }
  span.error { color: #c00; }


  textarea#shelf_item_description {
    height: 20em;
  }
}

form.new_reference, form.edit_reference {
  div.input.select {
    width: 50%; float: left;
    select { width: 80%; }
  }
  textarea#reference_description { height: 27em; }
  textarea#reference_tag_names { height: 5em; }

  div.link_fields {
    .link_description { width: 30%; }
    .link_url { width: 60%; }
  }

}

