$black: #333;

form {
  input[type=text], input[type=password],
  input[type=url],
  input[type=email], textarea {
    border: 1px solid $black;
    border-radius: 2px;
    width: 90%;
  }
  input[type=submit], button {
  }
  button { margin-top: -8px; }
  textarea {
    height: 10em;
  }

  span.hint, span.error {
    display: block;
    margin: -5px 0 5px 0;
    color: #aaa;
  }
  span.error { color: #c00; }
  label { font-weight: bold; }


  textarea#shelf_item_description {
    height: 20em;
  }
}

form.new_reference, form.edit_reference {
  div.input.select {
    width: 50%; float: left;
    select { width: 80%; }
  }
  div.submit { padding: 10px 0 30px 0; border-top: 2px solid black; }
  textarea#reference_description { height: 27em; }
  textarea#reference_tag_names { height: 5em; }

  div.link_fields {
    .link_description { width: 20%; }
    .link_url { width: 60%; }
  }

}

form .upload {
  width: 100%; overflow: hidden;

  fieldset { float: left; width: 48%; margin-right: 2%; overflow: hidden; }
}
