
header#page_header {
  margin-top: 43px;

  .bar { margin-bottom: 10px; }

  div.search {
    float: right;
  }

  div.tabs {
    float: right;
    margin-top: -33px;

    a {
      display: block; float: right;
      width: 83px; height: 25px;
      padding: 32px 0 0 0;
      font-family: 'Kreon', Georgia, "Times New Roman", Times, serif;
      font-size: 12px;

      overflow: hidden; 
      margin-top: -35px; margin-left: 5px;
      background: image_url('layout/tab.png') no-repeat;
      text-align: center;
      color: black;
      line-height: 1em;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }
    a.double {
      padding-top: 25px;
      height: 32px;
    }
    a:hover {height: 30px; margin-top: -40px;text-decoration:none;}
    a.double:hover {height:37px;}
  }
}
.banner {
  img.logo { display: block; margin: 3px auto; }
}
.slogans {
  font-family: Ventura Edding;
  line-height: 2.5em;

  span { display: block; }
  span.small { font-size: 20px; }
  span.big { font-size: 32px; }
}

.banner {
  .campings {
    width: 100%; overflow: hidden;
    margin: -20px 0 20px 0;

    div {
      float: right;

      a { padding: 0 10px; }
    }
  }
}
