
.new_account {
  margin-left: 50px;
  padding-left: 40px;
}

.version {
  color: #333;
  margin: 3px 0;
  padding: 2px 0 2px 24px;
  text-indent: -11px;
  border-bottom: 1px solid #efefef;
  i { font-size: 18px; margin-right: 2px; font-weight: normal; }
  a { color: black; font-weight: bold; }
  img.avatar { display: block; float: right;}
}
body.UsersController.show .version img.avatar { display: none }
img.avatar.size20 { border-radius: 10px; }
img.avatar.size40 { border-radius: 20px; }
img.avatar.size80 { border-radius: 40px; }

div.membership {
  width: 100%; overflow: hidden;
  padding: 2px 0;
  border-bottom: 1px solid #efefef;
  a.action {
    display: block;
    float: right;
    color: white; 
    background: black;
    padding: 2px 4px;
    font-size: 13px;
    line-height: 13px;
    border-radius: 1px;
  }
}

div.subscriptors {
  a.action { 
    display: block; color: white; 
    background-color: black; 
    padding: 3px 10px;
    text-align: center; 
  }

  .subscription {
    margin-top: 5px;
  }
}

div.tags {
  .tag { font-size: 12px; }
}

div.header div.tags { margin-top: 5px; }
div.sidebar div.tags { 
  width: 100%; overflow: hidden;
  margin-top: 15px;
}

div.login {
  div.authorizations {
    font-size: 30px;
  }
}

div.comments {
  overflow: hidden; width: 100%;

  div.comment {
    overflow: hidden; width: 100%;
    .user { float: left; margin-right: 4px;
      i { font-size: 12px; line-height: 12px; }
    }
  }
}

.shelf_item {
  width: 100%; overflow: hidden;
  margin-bottom: 1em;


  &.odd {
    div.actions { width: auto; float: left; }
    .reference { float: right; }
  }
  &.even {
    div.actions { width: auto; float: right; }
  }
}

div.downloads {
  margin-top: 5px;
  border-bottom: 1px solid black;

  .download {
    border-top: 1px solid black;
    padding: 3px 0;
    a.action { float: right; font-size: 80%; margin-right: 2px; }
    span.host { font-size: 80%; color: #666; }
  }
}
