
.new_account {
  margin-left: 50px;
  padding-left: 40px;
}

.version {
  color: #333;
  margin: 3px 0;
  padding: 2px 0 2px 20px;
  text-indent: -20px;
  border-bottom: 1px solid #efefef;
  a { color: black; font-weight: bold; }
  img.avatar { display: block; float: right;}
}
body.UsersController.show .version img.avatar { display: none }
img.avatar.size20 { border-radius: 10px; }
img.avatar.size40 { border-radius: 20px; }

div.membership {
  width: 100%; overflow: hidden;
  padding: 2px 0;
  border-bottom: 1px solid #efefef;
  a.action {
    float: right;
    color: white; 
    background: black;
    padding: 2px 4px;
    font-size: 13px;
    line-height: 13px;
  }
}

article.user {
  img.avatar { float: left; margin: 3px 10px 0 0; }
}
