
.new_account {
  margin-left: 50px;
  padding-left: 40px;
}

.version {
  color: #333;
  margin: 3px 0;
  padding: 2px 0 2px 20px;
  text-indent: -20px;
  border-bottom: 1px solid #efefef;
  a { color: black; font-weight: bold; }
  img.avatar { display: block; float: right;}
}
body.UsersController.show .version img.avatar { display: none }
img.avatar.size20 { border-radius: 10px; }
img.avatar.size40 { border-radius: 20px; }

div.membership {
  width: 100%; overflow: hidden;
  padding: 2px 0;
  border-bottom: 1px solid #efefef;
  a.action {
    display: block;
    float: right;
    color: white; 
    background: black;
    padding: 2px 4px;
    font-size: 13px;
    line-height: 13px;
    border-radius: 1px;
  }
}

article.user {
  img.avatar { float: left; margin: 3px 10px 0 0; }
}

div.followers {
  a.action { 
    display: block; color: white; 
    background-color: black; 
    padding: 3px 10px;
    text-align: center; 
  }

  .subscription {
    margin-top: 5px;
  }
}

div.tags {
  width: 100%; overflow: hidden;

  .tag {
    display: block; float: left;
    padding: 1px 2px;
    background-color: #efefef;
    margin-right: 3px;
    border-radius: 3px;
    font-size: 12px;
  }
}

div.header div.tags { margin-top: 5px; }
div.sidebar div.tags { margin-top: 15px; }
