
.reference.summary {
  h1 { font-size: 18px; line-height: 20px; }
}
// REFERENCES LIST (ICONS)
div.references {
  width: 100%; overflow: hidden;
}


.references div.reference {
  float: left;
  width: 121px;
  height: 125px;
  margin: 5px 13px 10px 0px;

  .content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .info, .emblems {
    position: absolute;
    padding: 0px;
    overflow: hidden;

    h3 { margin: 0; font-size: 13px; line-height: 14px; font-weight: bold; text-transform: uppercase;  }
    .more { margin: 0; font-size: 12px; line-height: 13px; }
  }

  div.emblems {
    width: 14px;
    bottom: 0;
    top: 12px;
    right: 1px;
    float: left;
    padding-right: 3px;
    a.download {display: block; margin-top: 60px;}
    img {
      width: 100%;
    }
  }

  &.Book {
    background: image-url('references/book.png') no-repeat;

    .info {
      left: 4px;
      top: 15px;
      right: 25px;
      height: 100px;
    }
  }

  &.Video {
    background: image-url('references/video.png') no-repeat;

    .info {
      left: 30px;
      top: 0px;
      right: 25px;
      height: 100px;
    }
    .emblems { top: 0px; a.download { margin-top: 53px; } }
  }

  &.Audio {
    background: image-url('references/audio.png') no-repeat;

    .info {
      top: 4px;
      left: 6px;
      right: 25px;
      height: 100px;
    }
  }

  &.WebPage {
    background: image-url('references/webpage.png') no-repeat;

    .info {
      left: 4px;
      top: 15px;
      right: 25px;
      height: 100px;
    }
  }

}

article.reference {
  margin-bottom: 30px;

  .icon {
    width: 60px;
    height: 62px;
    background-color: #AAA;
    float: left;
    margin-right: 10px;
  }

  &.Audio, &.Book, &.WebPage {
    .media { 
      float: left; 
      margin: 0 10px 10px 0;
      max-width: 50%;
    }
  }


  a.download {
    background-color: yellow;
    padding: 5px 10px;
    font-weight: bold;
  }
}


.reference_list {

  div.reference {
    width: 100%; overflow: hidden;
    padding: 2px 0;
    border-bottom: 1px solid #efefef;

    span.title a { font-weight: bold; }

    div.extra {
      font-size: 12px;
      margin-left: 35px;
    }

    div.user { float: right; }
    div.icon {
      float: left;
      width: 29px;
      height: 30px;
      margin-right: 5px;
      background-color: #c44;
      background-image: image-url('references/references116x30.png');
      background-repeat: no-repeat;
      img { margin: 3px 0 0 1px; }
    }
  }
}
