
.shelf_view {
  margin-top: 20px;
  a { display: block; }
}


div.shelf_item.mobject {
  .title { font-size: 1.5em; line-height: 1.2em; font-weight: bold; text-transform: uppercase; }
  .ref-info { margin: 0em 0 1em 0; }
  .item_info { display: block; color: gray; padding: 0; margin-top: 1em; }
  .reference-urls {
    margin: 1.5em 0 0 0; width: 100%; overflow: hidden;
    div { float: left; margin-right: 0.5em;}
    .urls-label { font-weight: normal; padding: 0 0.5em; }
    .urls-label:after { content: ' ⇒'}
  }
  .description { min-height: 10px; margin-bottom: -10px; }

  .tag a { color: gray; }
}

div.references.icons-only {
  div.shelf_item.mobject {
    width: auto;
    margin-bottom: 5px;
    float: left;
    .payload { display: none; }
  }
}

div.references.list .shelf_item {
  margin-bottom: 2em;
  .shelves.small { display: none; }
}

div.references.latests .shelf_item {
  .description { display: none; }
}

.latests.welcome .shelf_item {
  .reference-urls { display: none; }
  .ref-info { display: none; }
  .title, .shelf { display: none; }
  .title, h2 { font-size: 80%; }
}
