.shelf {
  .before { 
    width: 30px;
    background: image-url('shelves/shelf.png') no-repeat;
  }
  .after {
    text-align: center;
    font-weight: normal;
    font-size: 90%;
    background: image-url('shelves/shelf.png') no-repeat -604px 0;
    width: 3em;
    span { 
      display: block; 
    }
  }
  .payload {
    background: image-url('shelves/shelf-center.png') white repeat-x;
      a.name { font-weight: bold; }
    a.library { font-weight: bold; font-size: 90%; }
    span.updated_at { color: #444; font-size: 80%; }
  }
}

table.shelves {
  width: 100%;
  margin-bottom: 20px;

  tr.spacer {
    display: block;
    font-size: 1px;
    height: 5px;
    margin: 0;
    padding: 0;
  }

  tr.shelf {
    height: 63px;
    td.after { padding: 0 4px 0 20px; }
  }
}

.shelves.small {
  .shelf {
    height: 31px;
    overflow: hidden;
    padding: 0;
    margin: 3px 0;

    .before {
      width: 14px;
      background: image-url('shelves/shelf-small.png') no-repeat;
      a.name { display: block; height: 1.2em; }
    }

    .payload {
      height: 31px;
      background: image-url('shelves/shelf-center-small.png') white repeat-x;
      font-weight: normal;
      font-size: 12px;
      line-height: 13px;

      .data { 
        height: 1em; 
        overflow: hidden; 
        text-overflow: ellipsis; 
      }
    }

    .after {
      padding: 0 5px 0 15px;
      background: image-url('shelves/shelf-small.png') no-repeat -300px 0;
      height: 31px;
      overflow: hidden;
      span { display: none }
      span.references { display: block; }
    }
  }
}

div.shelf {
  .author { font-weight: bold; margin-bottom: 1em; }
}

div.shelf.guide {
  margin: 0 0 40px 0;
}

div.shelf.item {
  margin: 10px 0 20px 0;
  & > div { height: 63px; }
  .before { 
    float: left; 
  }
  .after {
    float: right; 
    padding: 0 10px 0 25px;
    span { 
      line-height: 61px;
      display: block; 
    }
  }
  .payload {
    h2 { margin: 0 0 0px 0; line-height: 61px; font-weight: bold; }
  }
}

.shelves.small {
  .shelf.item {
    & > div { height: 31px; }
    .after { 
      padding: 0 2px 0 12px;
      span { line-height: 31px; }
    }

    .payload {
      h2 { font-size: 14px; line-height: 30px; }
    }
  }
}

form .colors {
  width: 100%; overflow: hidden;
  margin: 0 0 20px 0;

  .color { width: 9%; display: block; float: left; margin: 5px 1% 0 0; padding: 5px 0; text-align: center; }
}


div.shelf.activity {
  margin: 0;
  .shelf_icon {
    width: 30px;
    height: 31px;
    background: image-url('shelves/shelf-icon.png') no-repeat;
  }

  .payload {
    a { font-weight: bold; }
    .info {
      font-size: 80%;
      a { font-weight: normal; }
    }
  }
}
