
.shelf_view {
  margin-top: 20px;
  a { display: block; }
}


div.shelf_item.mobject {
  .title { font-weight: bold; text-transform: uppercase; }
  .item_info { display: block; color: gray; padding: 0; margin-bottom: 5px; }
  .description { min-height: 10px; margin-bottom: -10px; }

  .tag a { color: gray; }
}

div.references.icons-only {
  div.shelf_item.mobject {
    width: auto;
    margin-bottom: 5px;
    float: left;
    .payload { display: none; }
  }
}

div.references.list .shelf_item {
  margin-bottom: 2em;
  .shelves.small { display: none; }
}

div.references.latests .shelf_item {
  .description { display: none; }
}

.latests.welcome .shelf_item {
  .title, .shelf { display: none; }
  .title, h2 { font-size: 80%; }
}

