$black: #333;

.sidebar {
/*  border-top: 4px solid black; */

  .header { border-top: 4px solid black; }

  ul  {
    margin-left: 0;
    list-style: none inside none; 
  }
  h1, h2, h3, h4, h5 { margin: 0 }
  h1 { font-size: 20px; line-height: 22px; }
  h2 { font-size: 18px; line-height: 20px; }
  h3 { font-size: 18px; line-height: 18px; }

  div.actions { font-size: 80%; margin-bottom: 20px; }

  .black {
    h1, h2, h3, h4, h5 { color: white; }

    p { margin-top: 10px; }
    a { color: white; text-decoration: undeline;}
    background-color: black; color: white;
    padding: 10px;
  }
  .curtain {
    display: block;
    height: 15px;
    width: 100%;
    overflow: hidden;
    margin-top: -1px;
    background: image-url('layout/curtain.png') white repeat-x;
  }

  & > div.content {
    padding: 5px 0;
  }

  .shared { text-align: center; img { display: block; margin: 5px auto; } }
}

ul.stats {
  border-top: 1px solid #222;
  margin: 10px 0;
  padding-top: 10px;
  text-align: left;

  li {
    font-weight: 300;
    width: 100%; overflow: hidden;
    border-bottom: 1px solid #111;
    padding: 3px 0;

    i { display: block; float: left; }
  }
}

div.checklist {
  border: 1px solid black;
  padding: 10px;

  h4 {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
  }
}
