$black: #333;

.sidebar {
  border-top: 4px solid black;

  ul  {
    margin-left: 0;
    list-style: none inside none; 
  }
  h1, h2, h3, h4, h5 { margin: 0 }
  h1 { font-size: 20px; line-height: 22px; }
  h2 { font-size: 18px; line-height: 20px; }
  h3 { font-size: 18px; line-height: 18px; }

  div.actions { font-size: 80%; margin-bottom: 20px; }

  .black {
    h1, h2, h3, h4, h5 { color: white; }

    p { margin-top: 10px; }
    a { color: white; text-decoration: undeline;}
    background-color: black; color: white;
    padding: 10px;
  }
  .curtain {
    display: block;
    height: 15px;
    width: 100%;
    overflow: hidden;
    background: image-url('layout/curtain.png') white repeat-x;
  }

  & > div.content {
    padding: 5px 0;
  }

  .shared { text-align: center; img { display: block; margin: 5px auto; } }
}


