.version {
  a { color: black; }
  .event { font-weight: bold; }
  .img { 
    text-align: center;  
    i { font-size: 20px; line-height: 24px; font-weight: normal; }
  }
  .time { font-size: 80%; color: #666; }
  div.reference.item { margin: 0; border-bottom: 0; }
}
body.NoUsersController.show .version img.avatar { display: none }
img.avatar.size20 { border-radius: 10px; }
img.avatar.size40 { border-radius: 20px; }
img.avatar.size80 { border-radius: 40px; }


.activity.small {
  overflow: hidden;
  .imgExt { text-align: center; }
  .event { font-weight: normal; }
  a { font-weight: bold; }
}
