<div class="header">
  <%= title 'Notificaciones' %>
</div>

<h3>Enviadas</h3>
<% @notifications.each do |notification| %>
  Para: <%= link_to notification.user.name, notification.user %>
<%= render notification.version %>
  <% end %>
