<%= content_for :right do %>
  <div class="black">
  <strong>Breve guía de markdown</strong>
    <br>
    <br>
  <ul>
    <li># Título grande</li>
    <li>## Título mediano</li>
    <br>
    <li><strong>*cursiva*</strong></li>
    <li><em>**negrita**</em></li>
    <br>
    <li>[Enlace](http://bookcamping.cc)</li>
    <br>
    <li><b>Listas:</b><br/>
    - Uno<br/>
    - Dos</li>
    <br>
    <li><b>Listas numeradas:</b><br/>
    1. Uno<br/>
    2. Dos</li>
    <br>
    <li><b>Reseñas:</b><br/> poniendo un &gt; delante del texto</li>
  </ul>
  <br>
  Más información:
  <a href="http://daringfireball.net/projects/markdown/syntax"
    target="_blank">markdown syntax</a>

</div>
<div class="curtain">
</div>
<% end %>
