<div class="campings">
  <% Site.visible_libraries.each_with_index do |library, index| %>
    <% css = current_library == library ? 'current' : '' %>
  <div class="camping">
    <div class="tail <%= css %>"></div>
    <div class="content <%= css %>"><%= link_to library.name, shelves_path(library: library) %></div>
    <div class="head <%= css %>"></div>
  </div>
<% end %>
</div>

