<header id="page_header">
  <div class="container">
  <div class="bar">
    <div class="right end">&nbsp;</div>
    <div class="left end">&nbsp;</div>
    <div class="bar-contents">
      <div class="search span2">
      &nbsp;
      </div>
      <div class="tabs">
        <% Site.tabs.reverse.each do |tab| %>
          <%= link_to tab.label, tab.path %>
      <% end %>
      </div>
      <div class="session">
          <p>Estamos congeladas</p>
      </div>
    </div>
  </div>
  </div>
</header>
