<div class="container">
  <div id="page-header" class="row">
    <div class="span2">
      <% if current_user %>
        <p>Hola <%= link_to current_user.name, [:edit, current_user] %> | <%= link_to 'Salir', logout_path %></p>
    <% else %>
        <%= link_to 'Entrar', login_path %>
    <% end %>
    </div>
    <div class="span6">
    </div>
  </div>
</div>
