<div class="row">
  <div class="sidebar left span2">
    <div class="sidecontent">
      <%= yield :left %>
    </div>
    &nbsp;
  </div>
  <div class="main span9 offset1">
    <%= yield %>
  </div>
</div>

